body {
  background: #FFFFFF;
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  color: green;
  font-size: 300px;
  filter: url(#gooey);
}
.text::before, .text::after {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation-duration: 12s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  filter: blur(9px);
}
.text::before {
  content: "O";
  animation-name: items-odd;
}
.text::after {
  content: "V";
  animation-name: items-even;
  animation-delay: 1.5s;
}

@keyframes items-odd {
  8.3333333333% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  20.8333333333% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333333333% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  45.8333333333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  58.3333333333% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  70.8333333333% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  83.3333333333% {
    opacity: 1;
  }
  87.5% {
    opacity: 1;
  }
  95.8333333333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
  0% {
    content: "V";
  }
  24.9999% {
    content: "V";
  }
  25% {
    content: "N";
  }
  49.9999% {
    content: "N";
  }
  50% {
    content: ".";
  }
  74.9999% {
    content: ".";
  }
  75% {
    content: "O";
  }
  99.9999% {
    content: "O";
  }
}
@keyframes items-even {
  8.3333333333% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  20.8333333333% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.3333333333% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  45.8333333333% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  58.3333333333% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  70.8333333333% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  83.3333333333% {
    opacity: 1;
  }
  87.5% {
    opacity: 1;
  }
  95.8333333333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
  0% {
    content: "1";
  }
  24.9999% {
    content: "1";
  }
  25% {
    content: "K";
  }
  49.9999% {
    content: "K";
  }
  50% {
    content: "I";
  }
  74.9999% {
    content: "I";
  }
  75% {
    content: "V";
  }
  99.9999% {
    content: "V";
  }
}
